/* FONT
Source Sans Pro
REGULAR   400 
SEMI-BOLD 600 
BOLD      700  */

/* COLORS
WHITE: #fff
LBLUE:#02ADE6
BLUE: #333F51
DBLUE: #273142

LGREY:#F0F0F0
DGREY:#F2F2F2
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1;
}

#header {
  background-color: #fff;
}
.header__container {
  display: flex;
  padding: 0.5rem;
}
.header__container_img {
  display: inline-block;
}

.content {
  display: flex;
}

#sidebar {
  height: 94vh;
  background-color: #333f51;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  justify-content: space-between;
}

.sidebar__list {
  padding: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar__list_el {
  display: inline;
}

.active_el {
  font-weight: 700;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  background-color: #273142;
}
